#Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives

**Objectives:**
- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Explore Data Science tools
- Demonstrate arithmetic expressions in Python
- Understand basic concepts of Data Science

# Data Science Languages

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

# Data Science Libraries

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

# Data Science Tools

## Data Science Tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| VS Code         |

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Author

## Author
MUZAMMAL BILAL